<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Welcome User |  SignUp</title>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="main">

<section class="signup">
<div class="container">
<div class="signup-content">
<div class="signup-image">
<figure><img src="/public/signup.svg" alt="sing up image"></figure>
</div>
<div class="signup-form">
<h2 class="form-title">Sign up</h2>
<form method="POST" class="register-form" id="register-form" action="send"> 
<div class="form-group">
<label for="firstname"><i class="fa fa-user" aria-hidden="true"></i></label>
<input type="text" name="firstname" id="firstname" placeholder="Your Name" autocomplete="off" required="true">
</div>
<div class="form-group">
<label for="email"><i class="fa fa-envelope" aria-hidden="true"></i></label>
<input type="email" name="email" id="email" placeholder="Your Email" autocomplete="off" required="true">
</div>
<div class="form-group">
<label for="pass"><i class="fa fa-unlock" aria-hidden="true"></i></label>
<input type="password" name="pass" id="pass" placeholder="Password" required="true">
</div>
<div class="form-group">
<label for="phone"><i class="fa fa-mobile-phone" aria-hidden="true"></i></label>
<input type="phone" name="phone" id="phone" placeholder="Mobile Number" autocomplete="off" required="true"> 

</div>
<div class="form-group form-button">
<input type="submit" name="signup" id="signup" class="form-submit" value="Submit">
</div>
</form>
</div>
</div>
</div>
</section>
<script>
 </script>
</body></html>