<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Welcome User | OTP</title>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="container">
<div class="signin-center">
<div class="signin-image" ></div>
<section>
<h1 style="text-align: center">You Are Now Verified..!</h1>
<figure><img src="/public/verified.gif" alt="sing up image">
</section>
</div>

</body></html>